/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-main;
  }
}

@media screen and (min-width: 480px) {
  .slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
  }
}

#customArrow .slick-next {
  right: 20px;
  z-index: 2;
}

#customArrow .slick-prev {
  left: 20px;
  z-index: 2;
}

#customArrow .slick-next::before,
#customArrow .slick-prev::before {
  color: gray;
  @apply text-3xl;
}

#customArrow .slick-next.slick-disabled:before,
#customArrow .slick-prev.slick-disabled:before {
  display: none;
}

#customArrow .slick-dots {
  bottom: 20px;
}

#customArrow .slick-dots li {
  width: 15px;
}

#customArrow .slick-dots li button::before {
  font-size: 8px;
}
